<div class="sidebar">
    <div class="logo"></div>
    <ul class="left-menu">
        <li>
                
            <a href="/htest/#/admin" title="Home">
                <img src="/htest/assets/images/ic_home.png" alt="" >
            </a>
        </li>
        <li>
            <a  title="Message">
                <img src="/htest/assets/images/ic_message.png" alt="" >
            </a>
        </li>
        <li>
            <a  title="Feeds">
                <img src="/htest/assets/images/ic_feed.png" alt="" >
            </a>
        </li>
        <li>
            <a   title="Settings">
                <img src="/htest/assets/images/settings_icon.png" alt="">
            </a>
        </li>
    </ul>
    <ul class="left-menu logout">
        <li>
            <a href="" title="Exit">
                <img src="/htest/assets/images/Shape.png" alt="" >
            </a>
        </li>
    </ul>
</div>