<div class="navbar">
    <div class="pull-right">
        <div class="profile-container">
            <figure class="notification">
                <a  title="Notifications">
                    <img src="/assets/images/ic_notification.png" alt="">
                </a>
            </figure>
            <div class="profile">
                <img src="/assets/images/user.png" alt="" class="user-profile">
            </div>
            <label id="userName">{{user}}</label>
            <span id="designation">{{designation}}</span>
        </div>
    </div>
</div>